@font-face {
  font-family: saol ;
  src: url('/NeueHaasDisplayMediu.ttf');
}

:root{
  --primary-color: rgb(239,234,227);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: saol;
}


html, body{
  height: 100%;
  width: 100%;
  overflow-x: hidden  ;
 
  

}

.page1{
  width: 100%;
  height: fit-content;
  /* border: 1px solid red; */
  background-color: rgb(239,234,227);
  position: relative;
  padding: 0 2vw;
  /* border: 1px solid black; */
}

.page1 video{
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  margin-top: 4vw;
  position: relative;
}


.page1 .heroshape{
      position: absolute;
      width: 46vw;
      height: 36vw;
 


      right: 0;
      top: 62vh;
    
}

.page1 .heroshape .hero{
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background: linear-gradient(rgb(254,51,11),rgb(254, 80, 11))  ;
  filter: blur(25px);
  position: absolute;
  animation-name: anime3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
.page1 .heroshape .hero2{
  height: 30vw;
  width: 30vw;
 border-radius: 50%;
 background: linear-gradient(rgb(254,51,11),rgb(254, 80, 11))  ;
 filter: blur(25px);
  position: absolute;
  animation-name: anime2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;


}
.page1 .heroshape .hero3{
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  background: linear-gradient(rgb(254,51,11),rgb(254, 80, 11))  ;
  filter: blur(25px);
  position: absolute;
  animation-name: anime;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}



@keyframes anime {

  from{
    transform: translate(45%, -4%);
  }

  to{
    transform: translate(0%, 10%);
  }
  
}


@keyframes anime2 {

  from{
    transform: translate(5%, -3%);
  }

  to{
    transform: translate(-20%, 20%);
  }
  
}
@keyframes anime3 {

  from{
    transform: translate(0%, -2%);
  }

  to{
    transform: translate(0%, 4%);
  }
  
}


@media screen and (max-width: 768px) {
    
.page1 .heroshape{
  position: absolute;
  width: 46vw;
  height: 36vw;



  right: 0;
  top: 45vh;

}
}
@media screen and (max-width: 625px) {
    
.page1 .heroshape{
  position: absolute;
  width: 46vw;
  height: 36vw;



  right: 0;
  top: 35vh;

}
}
@media screen and (max-width: 445px) {
    
.page1 .heroshape{
  position: absolute;
  width: 46vw;
  height: 36vw;



  right: 0;
  top: 33vh;

}
}





